.dimnjacari-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  margin: 10px 10px 10px 10px;
}

@media screen and (max-width: 500px) {
  .dimnjacari-wrapper {
    width: 100%;
    display: inline-block;
  }
}
