.obrtnici {
  width: 80vw;
  border-radius: 10px;
  margin-left: 10vw;
  height: 100%;
}

.homepage-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.text-container {
  display: flex;
  margin-left: 2vw;
  flex-direction: column;
  align-self: flex-start;
  position: absolute;
  font-weight: 500;
  margin-bottom: 10px;
  width: 100%;
  color: #333;
}

.download-link {
  text-decoration: none;
  color: black;
  font-size: medium;
}

.download-link:hover {
  color: #fa7123;
}

.download-container {
  width: 100%;
  font-size: medium;
  display: flex;
  margin: 10px;
}
