.profile-gallery-wrapper {
  display: grid;
  grid-template-rows: 16% 68% 16%;
  grid-template-columns: 40% 60%;
  grid-template-areas:
    "contact1 contact"
    "avatar description"
    "name name";
  border-color: #777;
  border-radius: 25px;
  margin: 0 2rem 2rem 0;
  padding: 1rem;
  width: 400px;
  height: 150px;
  box-shadow: 0px 1px 0px 3px rgba(0, 0, 0, 0.2);
  background-color: white;
  align-content: stretch;
}

.avatar-label-sec {
  color: #333;
  font-weight: 500;
  grid-area: name;
  height: fit-content;
  width: fit-content;
}

.img-avatar {
  width: auto;
  height: 100px;
  grid-area: avatar;
}

.avatar-about-me {
  display: flex;
  color: #333;
  flex-direction: row;
  grid-area: description;
  height: fit-content;
  width: fit-content;
}
.avatar-contact {
  color: #333;

  font-weight: 500;
  height: fit-content;
  width: fit-content;
  grid-area: contact;
}

@media screen and (max-width: 500px) {
  .profile-gallery-wrapper {
    display: block;
  }
}
