.signup-wrapper {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin-left: 10vw;
}

.signup-h2 {
  font-weight: 500;
}
.form-container {
  background-color: white;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  width: 42vw;
  height: 450px;
  align-self: center;
  border-radius: 25px;
  padding: 25px;
  box-shadow: 0px 1px 0px 3px rgba(0, 0, 0, 0.2);
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 20vw;
  align-self: center;
  outline: none;
  outline-style: none;
}

.form-control {
  color: #333;
  display: flex;
  height: 50px;
}

.img-woman {
  width: 230px;
  height: 400px;
}

.form-control:hover {
  background-color: #fa7123;
  color: white;
}
.submit-btn {
  background-color: white;
  font-size: medium;
  height: 60px;
}

.login-btn {
  color: #fa7123;
  text-decoration: none;
}

.submit-btn:hover {
  background-color: #fa7123;
  color: white;
}

@media screen and (max-width: 500px) {
  .signup-wrapper {
    display: inline-block;
  }
  .form-container {
    display: block;
  }
  .img-woman {
    width: 100px;
    height: 200px;
  }
}
